html, body {
    margin: 0;
    padding: 0;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#Title {
    font-size: 3rem;
    text-shadow: 0 0 15px #000033;
    margin-bottom: 20px;
}

#container {
    width: 95%;
    max-width: 2000px;
    margin: 20px auto;
    padding: 100px;
    background-color: #DCB66F;
    border-radius: 15px;
    text-align: center;
    
}


#top-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}


#left-column {
    flex: 1;
    min-width: 300px;
    text-align: center;
}


#right-column {
    flex: 1.5;
    min-width: 400px;
    text-align: center;
}


#CoverArt {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    border: 4px solid #000033;
    object-fit: cover;
    display: block;
    margin: 0 auto 15px auto;
}


#Rating {
    font-size: 3rem;
    margin-bottom: 15px;
}


#Summary {
    line-height: 1.6;
    font-size: 1.3rem;
    margin-top: 10px;
}


#Trailer {
    width: 100%;
    max-width: 900px;
    height: 500px;
    border-radius: 50px;
    border: 5px solid #000033;
}


#Actors {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    font-size: 30px;
}

    #Actors li {
        margin: 6px 0;
    }


a {
    color: #000033;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }


.character {
    width: 250px;
    height: 400px;
    border-radius: 50px;
    border: 3px solid #000033;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
}

    .character:hover {
        transform: scale(1.1);
        box-shadow: 0 0 15px #000033;
    }


#characterInfo {
    margin-top: 20px;
    font-size: 1.3rem;
    padding: 15px;
    border: 2px solid #000033;
    border-radius: 50px;
    display: none;
}
